page-login {
  text-align: center;
  .btnLogin {
    background-color: $patriotPink;
    width: 50%;
  }
  .signup {
    color: $patriotPink;
  }
  .btn-unlock {
    z-index: 10;
  }
  ion-icon {
  }
}
