<ion-content class="container" padding>
  <div class="header">
    <h3 class="tab-profile">Artikel</h3>
  </div>
  <!-- <div *ngFor="let article of articles;let i = index"> -->
  <h3 *ngIf="articles == 0">Tidak ada artikel tersedia.</h3>
  <!-- </div> -->
  <div *ngIf="articles != null">

    <div class="card" *ngFor="let article of articles;let i = index">
      <img class="ava" src="https://patriotpangan.com/nodejs/public/images/artikels/{{article.pathfoto}}">
      <span *ngIf="penulis" class="head">oleh
        <b>{{penulis[i]}}</b>
      </span>
      <br>
      <span *ngIf="article.sumberarktikel == null" class="head">untuk : -
        <span class="right">{{article.createdAt | date: 'dd MMMM yyyy'}}</span>
      </span>

      <span *ngIf="article.sumberarktikel" class="head">untuk {{article.sumberarktikel}}
        <span class="right">{{article.createdAt | date: 'dd MMMM yyyy'}}</span>
      </span>
      <div class="border"></div>
      <h1 class="title">{{article.judul}}</h1>
      <p class="content" [innerHtml]="article.isi"></p>
      <div class="readmore">
        <button (click)="readmore(article)">Baca Selengkapnya
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </div>
    </div>
  </div>

</ion-content>