page-article {
  .tab-profile {
    // padding-top: 30px;
    text-align: center;
    color: #fff;
    background-color: $patriotBlue;
    margin-bottom: 30px;
  }
  h3 {
    padding: 0px 20px;
    text-align: center;
    color: #fff !important;
  }

  .container {
    background-color: $patriotBlue;
  }
  div.card {
    margin: 5px;
    span.head {
      font-size: 8px;
    }
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    .border {
      border-bottom: solid 2px black;
      width: 73%;
      float: right;
    }
    span.right {
      float: right;
    }
    .ava {
      float: left;
      margin: 10px;
      height: 50px;
      width: 50px;
      border-radius: 100%;
    }
    h3 {
      text-align: center;
      color: #fff !important;
    }
    h1.title {
      text-align: left !important;
      max-height: 150px;
      padding-top: 30px;
      display: block;
      z-index: 10;
    }
    .content {
      text-align: justify;
      padding: 10px;
      display: block;
    }
    .readmore {
      text-align: right;
      button {
        background-color: transparent;
        border: none;
        right: 0px;
        left: 100%;
      }
    }
  }
}
