page-signup {
    position: fixed;
  text-align: center;
  .btnSignup {
    background-color: $patriotPink;
    width: 50%;
  }
  .btn-unlock {
    z-index: 10;
  }
  .btnPic {
    text-align: right;
  }
  ion-icon {
    // color: $patriotPink;
  }
  .pdg {
      padding-left: 7px;
  }
//   .text-input::-moz-placeholder {
//     color: black;
//     padding-left: 5px;
//   }
//   .text-input:-ms-input-placeholder {
//     color: black;
//     padding-left: 5px;
//   }

//   .text-input::-webkit-input-placeholder {
//     text-indent: 0;
//     color: black;
//     padding-left: 5px;
//   }
}
